.comment-container {
    background-color: #ffffff;
    padding: 10px;
    position: relative;
}

.comment-header {
    border-top: 1px solid #e1e8ed;
    padding-top: 5px;
    margin-top: 5px;
}

.comment-input {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    resize: none;
}

.comment-btn {
    background-color: #1DA1F2;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    margin-top: 10px;
}

.comment-btn:hover {
    background-color: #0c7abf;
}

.comment-content {
    font-size: 1em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 15px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.comment-body {
    font-size: 1.15em;
    color: #000000;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.delete-comment-icon {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}