body {
    background-color: #f5f8fa;
}

.main-content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.main-content:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.post-box {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-title-input, .post-input, .post-link-input, .post-photo {
    margin-bottom: 10px;
}

.btn.post-btn {
    transition: background-color 0.3s ease-in-out;
}

.btn.post-btn:hover {
    background-color: #0056b3;
}

.text-muted {
    font-size: 0.8em;
}
