.post-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.post-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.post-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post-header h5 {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
}

.post-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.post-content {
    font-size: 1rem;
    margin-bottom: 10px;
}

.post-link a {
    color: #007bff;
    text-decoration: none;
}

.post-link a:hover {
    text-decoration: underline;
}

.post-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.comment-section {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.comment-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.delete-post-icon {
    width: 20px;
    height: 20px;
}