<h2 class="mb-4 text-center">Account Information</h2>
<div class="personal-image">
    <label class="label">
        <input type="file" id="avatarImage" name="image" accept="image/*">
        <figure class="personal-figure">
            <img src="avatars/{{Avatar}}" class="personal-avatar" alt="avatar">
            <figcaption class="personal-figcaption">
                <img src="https://raw.githubusercontent.com/ThiagoLuizNunes/angular-boilerplate/master/src/assets/imgs/camera-white.png">
            </figcaption>
        </figure>
    </label>
</div>
<div class="account-item">
    <label class="form-label">Username:</label>
    <span id="username-display" class="badge bg-info text-dark">{{Username}}</span>
</div>

<div class="account-item">
    <label class="form-label">Email:</label>
    <span id="email-display" class="badge bg-info text-dark">{{Email}}</span>
</div>
<div class="account-item">
    <label class="form-label">Date of registration:</label>
    <span id="createdAt-display" class="badge bg-info text-dark">{{CreatedAt}}</span>
</div>